<style>
  /* body{
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  div{
    height: 100ch ;
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1,h2{
    background-color: bisque;
    text-align: center;
  }
  section{
    margin-top: 10vh;
    border: 2px solid ;
    width: 50vh;
  }
</style>

<div>
  <section>
    <h1>Hello Subh</h1>
    <h2>The name of this Angular App is :{{title}}</h2>
  
  </section>

</div>